@font-face {
  font-family: "Golos-Text_Regular";
  src: local("Golos-Text_Regular"),
    local("Golos-Text_Regular"),
    url("./fonts/Golos-Text_Regular.woff2") format("woff2");
  font-weight: normal;
}

*{
    box-sizing: border-box;
    font-family: "Golos-Text_Regular", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --akcent: #3A529B;
    --akcent-two: #4b69c4;
    --akcent-disabled: #556491;
	--bg :#f2f4f8;
    --bg-pan :#fff;
    --sdw: 0 4px 10px 0 #3A529B20;
}

html,
body {
    margin: 0px;
    background-color: var(--bg);
    font-size: 14px;
}

main {
    padding: 10px;
    min-height: 80vh;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.mini {
    font-size: 0.8rem;
    opacity: 0.5;
    margin: 2px 0px;
}

.clm{
    display: flex;
    flex-direction: column;
}
.row.ctr{
    align-items: center;
}
.clm.ctr{
    justify-content: center;
}
.big{
    font-size: 5.0rem;
    color: var(--akcent);
}
.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}