header {
    padding: 8px 20px;
    background-color: var(--akcent);
    color: var(--bg-pan);
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: var(--sdw);
}

header .header {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
header .header a{
    color: var(--bg-pan);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
header .header .logo{
    max-height: 40px;
}
header .header span{
    opacity: 0.8;
}

header .header span:hover{
    opacity: 1;
}